/cashbox/build
/cashbox/.idea
/cashbox/.gradle
/cashbox/gradle


/price-service/build
/price-service/.idea
/price-service/.gradle
/price-service/gradle

/config-service/build
/config-service/.idea
/config-service/.gradle
/config-service/gradle


/config-service/build
/config-service/.idea
/config-service/.gradle
/config-service/gradle

/dashboard-service/build
/dashboard-service/.idea
/dashboard-service/.gradle
/dashboard-service/gradle

/discovery-service/build
/discovery-service/.idea
/discovery-service/.gradle
/discovery-service/gradle

/report-service/build
/report-service/.idea
/report-service/.gradle
/report-service/gradle

